packages/
Alsvior.ConsoleApp/bin/
Alsvior.Api/obj/
Alsvior.ConsoleApp/obj/
Alsvior.Api/bin/
Alsvior.DAL/bin/
Alsvior.DAL/obj/
Alsvior.Representations/obj/
Alsvior.ServiceIntegration/obj/
Alsvior.Utility/bin/
Alsvior.Utility/obj/
Alsvior.Weather/bin/
Alsvior.Weather/obj/
ExternalConfig/Cassandra.config
ExternalConfig/Slack.config
ExternalConfig/Weather.config
Alsvior.Slack/bin/
Alsvior.Slack/obj/
ExternalConfig/Connections.config
ExternalConfig/Log4Net.config
Alsvior.Api/Properties/PublishProfiles/
Alsvior.Core/obj/
Alsvior.Representations/bin/
ExternalConfig/Event.config
PublishingProfiles/
Alsvior.Inverters/bin/
Alsvior.Inverters/obj/
Notes/
